.header{
    text-align:center;
    background-color:black;
    color : white;
    font-family:Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}
body {
    background:grey;
    margin:0px
}
h1{
    margin-top: 0px;
    margin-bottom: 0px;
    padding : 15px ;
}

.box{
    background-color: white;
    border : 50px;
    padding:5px;
    height: 230px;
    margin: 4%;
    padding-left:25px;
    font-family:Arial;
}

.post {
    width: 200px;
    height: 180px;
    padding: 10px;
    background-color: white;
    margin: 20px 20px 0px 0px;
    overflow-y: scroll;
	overflow-x: hidden;
}

.post img{
	width: 100%;
	height: auto;
}

#linkinput {
    padding: 25px;
    font-family:Arial;
}
#cap {
    padding: 25px;
    font-family:Arial;
}
.profile{
    position :absolute;
    right: 16px;
    padding : 0px;
    margin: 10px;
}

.takeaway{
    position:absolute;
}

.newD{
	display: inline-block;
}

.profilePage{  
    margin:50px;
    right: 16px;
    padding : 20px;
    background-color:white;
    font-family: arial;
    
}
#container {
    margin-left: 4%;
}

#link_input{
    width:90%;
    height:17px;
}

#caption{
    width:90%;
    height:17px;
}
img.randomname1{
    height : 20px;
    width: 25px;
    float : right;
    
}
#save{
    border-radius: 6px;
}
