body{
    background : lightpink;
    margin: 0px;
}
.back {
    background : whitesmoke;
    width: 95%;
    height: 95%;
    box-align: center;
}
.header{
    
    background-color:white;
    color : lightpink;
    font-family:Arial;
    margin-top: 0px;
    margin-bottom: 0px;
}
h1{
    margin-top: 0px;
    margin-bottom: 0px;
    padding : 15px ;
    padding-bottom: 0px;
    font-size: 40px;
    text-align:center;
}
body{
    margin:0px;
}
.topper{
    font-family: 'Parisienne', cursive;
    font-size: 25px;
    margin-top: 0px ;
    text-align:center;
}
.container{
    background-color: white;
    border : 50px;
    padding:20px;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top : 20px;
    margin-bottom : 20px;
}
.linkbox{
    background-color: white;
    color : lightgrey;
    margin-left: 10%;
    margin-right: 10%;
    height:30px;
    padding: 10px;
    font-size: 20px;
}
.drop {
    background-color: lightgray;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: absolute ;
    left:0px;

  }
  
  /* The container <div> - needed to position the dropdown content */
  .linkbox{
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropcontent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropcontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropcontent a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .linkbox:hover .dropcontent {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .linkbox:hover .drop {
    background-color: lightgrey;
  }

/*.Stephanie{
     font-size: 50px;
     color: lightpink;
     text-decoration: none;
  }*/
.assignment{
      font-size: 28px;
      margin-bottom: 0px;
      color: black; 
      }
.inside{
    Padding:15px ;
}
.About{
    color: darkgrey;
}
h2{
    color: rgb(54, 54, 54);
}
.Pcontainer{
    background-color: white;
    border : 50px;
    padding:20px;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top : 20px;
    margin-bottom : 20px;
}
.treepic{
    width: 40%;
    height: 30%;
}
.theonewithNYC{
    background-image: url("https://i.pinimg.com/originals/ff/87/c6/ff87c620eae343e56c2e0c0f4528ead8.jpg");
}
.TheThing{
  text-decoration: none;
   color: lightpink;
}

