.header{
    text-align:center;
    background-color:lightgrey
}
h1{
    margin-top: 0px;
}
body{
    margin:0px
}
body{
    margin: 0px;
    font-family:Arial;
}
.container{
    margin-left: 10%;
    margin-right: 10%;
}